/* text color #44C396 */
/* background color #33343D */

body{
    background-color: #33343D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
img{
    width: 15vw;
}
.text-color{
    color: #44C396;
}

.player-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#players-container{
    font-family: 'Indie Flower', cursive;
    display: flex;
    gap: 4vw;
}

#header-text{
    font-family: 'Lobster', cursive;
    font-size: 6vw;
    margin: 3vw;
}
#player-text{
    font-size: 2vw;
    font-weight: 100;
}

